/*
    Author:
    >> Nathan TIROLF - { nathan.tirolf@epitech.eu }

    („• ֊ •„)❤  <  Have a good day !
    --U-----U------------------------
*/

.laptop {
    display: block;
}

.mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .laptop {
        display: none;
    }

    .mobile {
        display: block;
    }
}
