/*
    Author:
    >> Caroline BOILLY - { caroline.boilly@epitech.eu }
    >> Nathan TIROLF - { nathan.tirolf@epitech.eu }

    („• ֊ •„)❤  <  Have a good day !
    --U-----U------------------------
*/

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-width: 4px;
    border-radius: 10px;
}

.activeButton {
    border-color: var(--color-green);
}

.inactiveButton {
    border-color: var(--color-gray);
}

.img {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50px;
    border-width: 2px;
    border-color: var(--color-green);
    object-fit: cover;
}

