/*
    Authors:
    >> Caroline BOILLY - { caroline.boilly@epitech.eu }
    >> Nathan TIROLF - { nathan.tirolf@epitech.eu }

    („• ֊ •„)❤  <  Have a good day !
    --U-----U------------------------
*/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 50vw;
    padding: 20px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.passwordContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}