/*
    Authors:
    >> Caroline BOILLY - { caroline.boilly@epitech.eu }
    >> Nathan TIROLF - { nathan.tirolf@epitech.eu }

    („• ֊ •„)❤  <  Have a good day !
    --U-----U------------------------
*/

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 200px;
    padding: 50px;
}

.texts {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.right {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.formContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.tabs {
    display: flex;
    flex-direction: row;
    width: 100%;
}

@media screen and (max-width: 900px) {
    .container {
        flex-direction: column;
        justify-content: space-around;
    }

    .left {
        align-items: center;
        gap: 20px;
    }

    .texts {
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 500px) {
    .formContainer {
        width: 90%;
    }
}
