/*
    Authors:
    >> Caroline BOILLY - { caroline.boilly@epitech.eu }
    >> Nathan TIROLF - { nathan.tirolf@epitech.eu }

    („• ֊ •„)❤  <  Have a good day !
    --U-----U------------------------
*/

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-green);
    padding: 0 50px;

    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
}

.navbarLinksContainer {
    display: flex;
    align-items: center;
    gap: 75px;
    height: 100%;
}

.navbarLink {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: border-bottom 0.3s;
}

.activeLink {
    border-bottom: 3px solid var(--color-light);
}
