/*
    Author:
    >> Nathan TIROLF - { nathan.tirolf@epitech.eu }

    („• ֊ •„)❤  <  Have a good day !
    --U-----U------------------------
*/

.modalerrorOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background: var(--color-dark-05);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    position: relative;
    text-align: left;
    border-radius: 0.5rem;
    max-width: 60%;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    background-color: var(--color-light);
    padding: 40px;
}

.dismiss {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border: 2px solid var(--color-gray);
    color: var(--color-dark);
    font-size: 1rem;
    font-weight: 600;
    width: 30px;
    height: 30px;
    border-radius: 7px;
    transition: .3s ease;
}

.dismiss:hover {
    background-color: var(--color-light);
    border: 2px solid var(--color-dark);
    color: var(--color-dark);
}

.content {
    margin-top: 0.75rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
