/*
    Authors:
    >> Caroline BOILLY - { caroline.boilly@epitech.eu }
    >> Nathan TIROLF - { nathan.tirolf@epitech.eu }

    („• ֊ •„)❤  <  Have a good day !
    --U-----U------------------------
*/

.textStyle-title {
    font-size: 30px;
    font-weight: 700;
}

.textStyle-navbarLink {
    font-size: 20px;
    font-weight: 600;
}

.textStyle-huge {
    font-size: 80px;
    font-weight: 900;
}

.textStyle-text {
    font-size: 20px;
    font-weight: 700;
}

.textStyle-hint {
    font-size: 15px;
    font-weight: 500;
}

.textStyle-cardTitle {
    font-size: 25px;
    font-weight: 700;
}

.textStyle-cardText {
    font-size: 18px;
    font-weight: 500;
}

.textStyle-buttonText {
    font-size: 18px;
    font-weight: 600;
}


@media screen and (max-width: 900px) {
    .textStyle-title {
        font-size: 20px;
    }

    .textStyle-navbarLink {
        font-size: 15px;
    }

    .textStyle-huge {
        font-size: 60px;
    }

    .textStyle-text {
        font-size: 15px;
    }

    .textStyle-hint {
        font-size: 10px;
    }

    .textStyle-cardTitle {
        font-size: 20px;
    }

    .textStyle-cardText {
        font-size: 15px;
    }

    .textStyle-buttonText {
        font-size: 15px;
    }
}
