/*
    Authors:
    >> Caroline BOILLY - { caroline.boilly@epitech.eu }
    >> Nathan TIROLF - { nathan.tirolf@epitech.eu }

    („• ֊ •„)❤  <  Have a good day !
    --U-----U------------------------
*/

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    transition: all 0.3s;
    border-radius: 15px;
    color:  var(--color-light);
    border: 3px solid var(--color-light);
}

.button:disabled {
    color: var(--color-gray);
    border: 3px solid var(--color-gray);
}
