/*
    Authors:
    >> Caroline BOILLY - { caroline.boilly@epitech.eu }
    >> Nathan TIROLF - { nathan.tirolf@epitech.eu }

    („• ֊ •„)❤  <  Have a good day !
    --U-----U------------------------
*/

.container {
    display: flex;
    align-items: center;
    border: 3px solid var(--color-light);
    border-radius: 15px;
    padding: 8px 24px;
    color: var(--color-light);
    width: 100%;
    background-color: transparent;
    gap: 20px;
}

.input {
    width: 100%;
    border: none;
    background-color: transparent;
    color: var(--color-light);
}

.input:focus {
    width: 100%;
    outline: none;
}

.input::placeholder {
    color: var(--color-light-07);
}
