/*
    Authors:
    >> Caroline BOILLY - { caroline.boilly@epitech.eu }
    >> Nathan TIROLF - { nathan.tirolf@epitech.eu }

    („• ֊ •„)❤  <  Have a good day !
    --U-----U------------------------
*/

.containerPage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;;
}

.loader {
    width: 40px;
    aspect-ratio: 1.154;
    --_g: no-repeat radial-gradient(farthest-side, var(--color-green) 90%,#0000);
    background:
        var(--_g) 50%  0,
        var(--_g) 0    100%,
        var(--_g) 100% 100%;
    background-size: 35% calc(35%*1.154);
    animation: l16 1s infinite;
}
@keyframes l16{
    50%,100% {background-position: 100% 100%,50% 0,0 100%}
}