/*
    Authors:
    >> Caroline BOILLY - { caroline.boilly@epitech.eu }
    >> Nathan TIROLF - { nathan.tirolf@epitech.eu }

    („• ֊ •„)❤  <  Have a good day !
    --U-----U------------------------
*/

.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 100px;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 20px;
    }
}
