/*
    Authors:
    >> Caroline BOILLY - { caroline.boilly@epitech.eu }
    >> Nathan TIROLF - { nathan.tirolf@epitech.eu }

    („• ֊ •„)❤  <  Have a good day !
    --U-----U------------------------
*/

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 100px 200px;
    gap: 200px;
}

.picture {
    width: 400px;
    height: 400px;
}

@media screen and (max-width: 1000px) {
    .container {
        padding: 50px 100px;
        gap: 100px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 20px 40px;
        gap: 60px;
    }
}
