/*
    Authors:
    >> Caroline BOILLY - { caroline.boilly@epitech.eu }
    >> Nathan TIROLF - { nathan.tirolf@epitech.eu }

    („• ֊ •„)❤  <  Have a good day !
    --U-----U------------------------
*/

/* ----- IMPORTS ----- */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'src/styles/colors.css';
@import 'src/styles/texts.css';
@import 'src/styles/edges.css';


/* ----- STYLES ----- */
body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-weight: 400;
    font-family: Montserrat Alternates, sans-serif;

    color: var(--color-light);
    background-color: var(--color-dark);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: background-color 0.3s ease, color 0.3s ease;
}
