/*
    Authors:
    >> Caroline BOILLY - { caroline.boilly@epitech.eu }
    >> Nathan TIROLF - { nathan.tirolf@epitech.eu }

    („• ֊ •„)❤  <  Have a good day !
    --U-----U------------------------
*/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 80px 50px;
    background: var(--color-green);
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

@media screen and (max-width: 500px) {
    .container {
        padding: 50px 20px;
    }
}
